@model IEnumerable<flight_management.Models.COMPANII_AERIENE>

@{
    ViewBag.Title = "Index - Companii Aeriene";
}

<div class="text-center">
    <h2 class="pt-4 pb-4">@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {
        <p>
            Căutare după țară: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" class="btn btn-success" />
        </p>
    }

    <table class="pt-4 table table-secondary">
        <tr class="table-success">
            <th> @Html.DisplayNameFor(model => model.NUME_COMPANIE) </th>
            <th> @Html.DisplayNameFor(model => model.COD_COMPANIE) </th>
            <th> @Html.DisplayNameFor(model => model.TARA) </th>
            <th> @Html.ActionLink("AN_INFIINTARE", "Index", new { sortOrder = ViewBag.AnSortParm }) </th>
            <th> OPERAȚIUNI </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.NUME_COMPANIE) </td>
                <td> @Html.DisplayFor(modelItem => item.COD_COMPANIE) </td>
                <td> @Html.DisplayFor(modelItem => item.TARA) </td>
                <td> @Html.DisplayFor(modelItem => item.AN_INFIINTARE) </td>
                <td>
                    @Html.ActionLink("Modifică", "Edit", new { id = item.ID_COMPANII }, new { @class = "btn btn-sm btn-primary" }) |
                    @Html.ActionLink("Detalii", "Details", new { id = item.ID_COMPANII }, new { @class = "btn btn-sm btn-info" }) |
                    @Html.ActionLink("Șterge", "Delete", new { id = item.ID_COMPANII }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }

    </table>
    <p class="pt-3">
        @Html.ActionLink("Adaugă Companie Aeriană", "Create", null, new { @class = "btn btn-success"})
    </p>
</div>
